*{
    margin: 0;
    padding: 0;
}
div#botao{
    position: absolute;
    top: 28%;
    margin: 0 auto;
    left: 25%;
   
}
div.container{
    width: 500px;
    height: 400px;
    position: relative;
    margin-top: 4%;
    border: 0;  
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 16px 16px 16px 16px; 
}
footer{
    position: fixed;
    bottom: 0;
    background-color: #81E28B;
    padding: 0.5%;
    width: 100%;
    color: antiquewhite;
    text-align: right;

}

